div {
    border: 1px solid black;
    box-sizing: border-box;
}
#container {
    width: 1000px;
    margin: 0 auto;
}
#header {
    height: 100px;
    width: 100%;
}
    #header-layer1 {
        height: 100px;
        width: 25%;
        float: left;
    }
    #header-layer2 {
        height: 100px;
        width: 55%;
        float: left;
    }
    #header-layer3 {
        height: 100px;
        width: 20%;
        float: left;
    }
#main-serve {
    height: 30px;
    width: 100%;
}
#main {
    height: 500px;
    width: 100%;
}
    #main-layer1 {
        height: 500px;
        width: 15%;
        float: left;
    }
    #main-layer2 {
        height: 500px;
        width: 55%;
        float: left;
    }
    #main-layer3 {
        height: 500px;
        width: 30%;
        float: left;
    }
#footer {
    height: 100px;
    width: 100%;
    float: left;
}